$primary: #20201F;
$accent: #4684B7;
$white: #FBFBFB;
$gray: #c4c4c4;

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: $primary;
    color: $white;
    padding: 0;
    margin: 0;
}

// * SECTION Responsive Design
@mixin ipad {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin iphone-8 {
    @media screen and (max-width: 540px) {
        @content;
    }
}

@mixin iphone-x {
    @media screen and (max-width: 375px) {
        @content;
    }
}

@mixin iphone-5 {
    @media screen and (max-width: 320px) {
        @content;
    }
}

// * SECTION UTILITIES
@import './utils/reset';
@import './utils/wrapper';
@import './utils/icons';

// * SECTION COMPONENTS
@import './components/header';
@import './components/hero';
@import './components/air';
@import './components/imagefeat';
@import './components/columns';
@import './components/work';
@import './components/gallery';
@import './components/mission';
@import './components/footer';