.u-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    // border: 1px solid white;

    &--positioned {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &--card {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include iphone-8 {
        padding: 0 15px;
        &--positioned {
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba($primary, .1 );
        }
    }
}