.c-work {
    background: #D4D5DA;
    font-weight: 900;
    padding: 28px;

    &__content {
        background: #E8E8E8;
        color: $primary;
    }

    &__title {
        font-size: 2em;
        margin: 0;
    }

    &__description {
        max-width: 90%;
    }

    &__sides-container {
        display: flex;
        justify-content: space-evenly;
    }

    &__side {
        // height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &--small {
            width: 31%;
            align-items: flex-start;
        }

        &--big {
            width: 55%;
        }
    }

    // SECTION responsive
    @include iphone-8 {
        font-size: 12px;
        padding: 20px 0;
        &__sides-container {
            flex-direction: column;
            align-items: center;
        }

        &__side {
            width: 98%;
            height: 280px;
            margin: 10px 0;
        }
        
        &__description {
            max-width: 90%;
            font-size: 1.5em;
            text-align: center;
        }
    }
}